.wrap {
  cursor: pointer;
}

.on {
  color: #12a20a;
  text-transform: uppercase;
}

.off {
  color: #cb0707;
  text-transform: uppercase;
}
.check {
  background: #d9d9d9;
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 250px;
}

.check [style] {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.btn {
  float: none;
  margin-top: 10px;
  text-transform: uppercase;
  width: 125px;
}

.btnNext {
  margin: 20px;
  text-transform: uppercase;
  width: 250px;
}

.btnInfo {
  text-transform: uppercase;
}

.modalInput {
  min-width: 460px;
}

.img {
  height: 200px;
  margin-top: 10px;
  width: 250px;
}

.closeImage:hover .btnClose {
  opacity: 1;
}

.btnClose {
  background: #cdcaca;
  cursor: pointer;
  height: 40px;
  margin-left: 210px;
  margin-top: 10px;
  opacity: 0;
  padding-bottom: 5px;
  position: absolute;
  transition: opacity 2ms;
  width: 40px;
}

/* element.style { */

/* } */

/* input[type="radio"], input[type="checkbox"] { */

/*  box-sizing: border-box; */

/*  padding: 0; */

/* } */

/* .form-check-input { */

/*   position: absolute; */

/*  margin-top: 0.3rem; */

/*  margin-right: 10px; */

/*   margin-left: -3rem; */

/* } */
